<!DOCTYPE html>
<html>
<head>
    <title>Create New To-Do Item</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            margin-top: 10px;
        }

            button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <h1>Create New To-Do Item</h1>
    <form>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name">
        <p>store it also in a cookie (1 day).</p>
        <a href="https://localhost:7051/todoitems/items">
            <button type="button">Create</button>
        </a>
    </form>
</body>
</html>
